@model IEnumerable<TarefaWeb.Models.Tarefa>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var t in Model)
        {
        <tr>
            <td>@t.TarefaId</td>
            <td>@t.Nome</td>
            <td>@t.Concluida</td>
            <td>@t.Data</td>
            <td>@Html.ActionLink("Editar", "Update", new { id = t.TarefaId })</td>
            <td>
                <a href="/Tarefa/Delete/@t.TarefaId">Apagar</a>
            </td>
        </tr>
        }
    </table>

    <a href="/Tarefa/Create">Adicionar</a>
</body>
</html>
